.root {
  display: flex;
  justify-content: center;

  li {
    display: inline-block;

    a {
      width: 42px;
      height: 42px;
      display: inline-block;
      color: #fe5f1e;
      font-weight: 600;
      text-align: center;
      line-height: 42px;
      margin-right: 10px;
      border: 2px solid #fe5f1e;
      border-radius: 12px;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }

  :global {
    .selected {

      a {
        color: #fff;
        background-color: #fe5f1e;
      }
    }
  }
}